{% extends "layout.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            {% for task in tasks %}
                <div class="card"  style="width: 18rem; margin-right: 50px; margin-bottom: 10px">
                    <img class="card-img-top" src="https://taskapp12.s3.amazonaws.com/{{task[4]}}" height="200px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/n/{{ note[0] }}">{{ task[2]}}</a></h5>
                        <p class="card-text">{{task[3]}}</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}