<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for d in data %}
        Title: <a href="/n/{{ d[5] }}">{{ d[0] }}</a><br>
        Description: {{ d[1] }} <br>
        <img src="https://taskapp12.s3.amazonaws.com/{{d[2]}}">
        <a href="/a/{{ d[4] }}">Author: {{ d[3] }}</a><br>
    {% endfor %}
</body>
</html>